@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-700 hover:bg-stone-800
  }

  html {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    @apply m-0;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }

  select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    cursor: pointer;
    line-height: inherit;
    outline: none;
    text-align: right;
  }

  option {
    @apply bg-slate-50;
  }
}

@layer components {
  .grid-layout-full {
    grid-template-areas: "sidebar header"
                         "sidebar content";
    grid-template-columns: minmax(100px, 15%) 1fr;
    grid-template-rows: 12rem 1fr;
  }

  .grid-layout-lite {
    grid-template-areas: "header"
                         "content";
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
  }

  .grid-sidebar {
    grid-area: sidebar;
  }

  .grid-header {
    grid-area: header;
  }

  .grid-content {
    grid-area: content;
  }

  .track-grid {
    grid-template-columns: repeat(5, min-content) ;
  }

  .bg-central {
    @apply bg-cover bg-center bg-no-repeat;
  }

  .central {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .backdrop {
    @apply before:content-[''] before:fixed before:top-0 before:left-0
           before:w-screen before:h-screen before:z-20
           before:bg-slate-400 before:opacity-0 before:transition-opacity;
  }

  .backdrop > * {
    @apply z-30;
  }

  .grid-modal-full {
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "side a"
                         "side b"
                         "side c";
  }

  .grid-modal-lite {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "side"
                         "a"
                         "b"
                         "c";
  }

  .grid-side {
    grid-area: side;
  }

  .dot-string {
    @apply whitespace-nowrap text-ellipsis overflow-hidden;
  }

  .btn {
    @apply transition-all hover:bg-slate-100 active:bg-slate-200;
  }

  .flex-center {
    @apply justify-center items-center;
  }
}