@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-700 hover:bg-stone-800
  }

  html {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    @apply m-0;
  }

  select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    cursor: pointer;
    line-height: inherit;
    outline: none;
    text-align: right;
  }

  option {
    @apply bg-slate-50;
  }
}

@layer components {
  .grid-layout-full {
    grid-template-areas: "sidebar header"
                         "sidebar content";
    grid-template-columns: minmax(100px, 15%) 1fr;
    grid-template-rows: 12rem 1fr;
  }

  .grid-layout-lite {
    grid-template-areas: "header"
                         "content";
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
  }

  .grid-sidebar {
    grid-area: sidebar;
  }

  .grid-header {
    grid-area: header;
  }

  .grid-content {
    grid-area: content;
  }

  .track-grid {
    grid-template-columns: repeat(5, min-content) ;
  }

  .backdrop {
    @apply before:content-[''] before:absolute before:top-0 before:left-0
           before:w-full before:h-full before:z-10
           before:bg-slate-100 before:opacity-80;
  }

  .grid-modal {
    @apply grid-cols-2 grid-rows-3;

    grid-template-areas: "block a"
                         "block b"
                         "c d";
  }

  .grid-block {
    grid-area: block;
  }
}